<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?ifndef PublishDir?>
    <?define PublishDir="..\out\app"?>
  <?endif?>
  <?ifndef PayloadDir?>
    <?define PayloadDir="..\payload"?>
  <?endif?>

  <Fragment>
    <ComponentGroup Id="AppFiles" Directory="INSTALLDIR">
      <Component Id="VeilUninstallDisplayName" Guid="c8e4a7b1-2f6d-4a91-9c33-7d1e0b5a4f22">
        <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\Veil"
                       Name="DisplayName" Value="Veil" Type="string" KeyPath="yes" />
      </Component>
      <Component Id="VeilApp" Guid="a1f3c8e2-7b14-4d6a-9e20-1c5d8f3a6b47">
        <File Id="VeilAppExe" Source="$(var.PublishDir)\Veil.App.exe" KeyPath="yes" />
      </Component>
      <Component Id="VeilStartMenu" Directory="VeilMenuDir" Guid="e5b7a2c6-1f58-4a0e-d264-5f912d7e0a8b">
        <Shortcut Id="VeilStartMenuShortcut" Name="Veil" Description="Veil 屏幕保持关闭"
                  Target="[#VeilAppExe]" WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="VeilMenuDir" On="uninstall" />
        <RegistryValue Root="HKLM" Key="Software\Veil" Name="StartMenuShortcut" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="VeilRecovery" Guid="b2e4d9f3-8c25-4e7b-af31-2d6e9a4b7c58">
        <File Id="VeilRecoveryExe" Source="$(var.PublishDir)\Veil.Recovery.exe" KeyPath="yes" />
      </Component>
      <Component Id="VeilDriverHelper" Guid="c3f5e0a4-9d36-4f8c-b042-3e7f0b5c8d69">
        <File Id="VeilDriverHelperExe" Source="$(var.PublishDir)\Veil.DriverHelper.exe" KeyPath="yes" />
      </Component>
      <Component Id="PayloadManifest" Guid="d4a6f1b5-0e47-409d-c153-4f801c6d9e7a">
        <File Id="PayloadManifestFile" Source="$(var.PublishDir)\payload.manifest.json" KeyPath="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="VddFiles">
      <Component Id="VddInf" Directory="VDDDIR" Guid="*">
        <File Source="$(var.PayloadDir)\vdd\MttVDD.inf" KeyPath="yes" />
      </Component>
      <Component Id="VddDll" Directory="VDDDIR" Guid="*">
        <File Source="$(var.PayloadDir)\vdd\MttVDD.dll" KeyPath="yes" />
      </Component>
      <Component Id="VddCat" Directory="VDDDIR" Guid="*">
        <File Source="$(var.PayloadDir)\vdd\mttvdd.cat" KeyPath="yes" />
      </Component>
      <Component Id="Nefcon" Directory="NEFCONX64" Guid="*">
        <File Source="$(var.PayloadDir)\nefcon\x64\nefconc.exe" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
